doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Diary of Khueue
		//- link(rel="stylesheet" href="/css/main.scss")
		link(rel="icon" type="image/x-icon" href="/img/favicon.dev.png")
		script(defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js")
	body
		#app
		script(src="/js/main.js")
